<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jxnu.blog.mapper.LinkMapper" >
  <select id="selectAll" resultType="cn.jxnu.blog.entity.Link" >
    SELECT 
    	link_id linkId, 
    	link_url linkUrl, 
    	link_name linkName, 
    	link_update_time linkUpdateTime, 
    	link_create_time linkCreateTime, 
    	link_order linkOrder, 
    	link_status linkStatus
    FROM 
    	link
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from link
    where link_id = #{linkId}
  </delete>
  
  <insert id="insert"  useGeneratedKeys="true" keyProperty="id"  
  		parameterType="cn.jxnu.blog.entity.Link" >
    insert into link (link_id, link_url, link_name, 
      link_update_time, link_create_time, 
      link_order, link_status)
    values (#{linkId}, #{linkUrl}, #{linkName}, 
      #{linkUpdateTime}, #{linkCreateTime}, 
      #{linkOrder}, #{linkStatus})
  </insert>

  <update id="updateById" parameterType="java.lang.Integer" >
    update link
    <set >
      <if test="linkUrl != null" >
        link_url = #{linkUrl},
      </if>
      <if test="linkName != null" >
        link_name = #{linkName},
      </if>
      <if test="linkUpdateTime != null" >
        link_update_time = #{linkUpdateTime},
      </if>
      <if test="linkCreateTime != null" >
        link_create_time = #{linkCreateTime},
      </if>
      <if test="linkOrder != null" >
        link_order = #{linkOrder},
      </if>
      <if test="linkStatus != null" >
        link_status = #{linkStatus},
      </if>
    </set>
    where link_id = #{linkId}
  </update>
</mapper>