<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jxnu.blog.mapper.MenuMapper" >

  <select id="selectMenus" resultType="cn.jxnu.blog.entity.Menu">
    SELECT 
    	menu_id menuId, 
    	menu_name menuName, 
    	menu_status menuStatus, 
    	menu_url menuUrl
    FROM 
    	menu
  </select>

  <select id="selectMenuById" resultType="cn.jxnu.blog.entity.Menu" parameterType="java.lang.Integer">
    SELECT
    	menu_id menuId,
    	menu_name menuName,
    	menu_status menuStatus,
    	menu_url menuUrl
    FROM
    	menu
    WHERE
        menu_id = #{menuId}
  </select>

  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from menu
    where menu_id = #{menuId}
  </delete>
  
  <insert id="insert" parameterType="cn.jxnu.blog.entity.Menu" >
    insert into menu (menu_id, menu_name, menu_status, menu_url)
    values (#{menuId}, #{menuName}, #{menuStatus}, #{menuUrl})
  </insert>
  
  <update id="updateById" parameterType="java.lang.Integer" >
    update menu
    <set >
      <if test="menuName != null" >
        menu_name = #{menuName},
      </if>
      <if test="menuStatus != null" >
        menu_status = #{menuStatus},
      </if>
      <if test="menuUrl != null" >
        menu_url = #{menuUrl},
      </if>
    </set>
    where menu_id = #{menuId}
  </update>
  
</mapper>