.w_list_overview{
	margin: 0 15px;
}
.w_thumbnail{
	margin-bottom: 0px;
}
.w_article_item .w_thumbnail img{
	width: 160px;
	height: 160px;
}
.w_article_item .row{
	position: relative;
}
.count_r{
	position: absolute;
	right: 0px;
	bottom: 0px;
	text-align: right;
	margin-right: 15px;

}
.w_article_item .panel-body{
	box-shadow: 0px 8px 18px rgba(0,0,0,0.06);
	transition: all .2s ease-out;
}
.w_article_item .panel-body:hover{
	box-shadow: 0px 8px 18px rgba(0,0,0,0.15);
	transition: all .2s ease-out;
}
.overView{
	overflow:hidden; //超出的文本隐藏
	text-overflow:ellipsis; //溢出用省略号显示
	white-space:nowrap; //溢出不换行
	/*overflow: hidden;
	text-overflow: ellipsis;
	display:-webkit-box; //作为弹性伸缩盒子模型显示。
	-webkit-box-orient:vertical; //设置伸缩盒子的子元素排列方式--从上到下垂直排列
	-webkit-line-clamp:2; //显示的行*/
}